body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.top-title{
    background-color: #46A6EB;
    height: 5em;
}

.text-title{
    color:white;
    font-size: 2em;
    /* text-align: center; */
    margin-left: 1em;
    padding-top: 0.3em;
    text-align: left;
}


.top-container{
    background-color: bisque;
    padding-top: 1em;
    padding-bottom: 2em;
}

.scenario-output1{
    margin-left: 1em;

}
.main-container{
    padding-left:8em;
    padding-top:2em;
    padding-bottom: 2em;
    background-color:lightblue;
}

.selection-container{
    font-size: 1.2em;
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;  
}
.teacher-intervention{
    padding-left: 4em;
}

.run-button{
    padding-left:6em;

}


#scenario-one-output1, #scenario-one-output2, #scenario-one-output3{
    padding-bottom: 2em;
}


.output-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

#output-button{
    margin-right:4em;
    text-align: center;
    color:black; 
    background-color: white; 
    border: 0.5em; 
    border-radius: 0.5em;  
    padding: 0.4em 1em 0.4em 1em;
    font-size: 1em;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2), 0 6px 18px 0 rgba(0,0,0,0.19);
}

.explanation{
    margin-bottom:2em;
    margin-right: 4em;
}





