body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.top-title{
    background-color: #46A6EB;
    height: 5em;
}

.text-title{
    color:white;
    font-size: 2em;
    /* text-align: center; */
    margin-left: 1em;
    margin-top:1em;
}


.selection-container {
    margin-top: 2em;
    margin-left:2em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.input-score{
    margin-top: 4em;
    margin-left:2em;
}
.competency-list-container{
    margin-left:2em;
}

#Creativity, #Critical-thinking, #Communication, #Collaboration, #Mindfulness, #Curiousity, #Courage, #Resilience, #Ethics, #Leadership, #Metacognition, #Growth-Mindset {
    margin-right:1em;
}

.output-score{
    margin-top: 4em;
    margin-left:2em;
}

.output-container{
    margin-left:8em;

}

