body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.top-title{
    background-color: #46A6EB;
    height: 5em;
}

.text-title{
    color:white;
    font-size: 2em;
    /* text-align: center; */
    margin-left: 1em;
    padding-top: 0.3em;
    text-align: left;
}

.persona-containder{
    margin-top: 2em;
    margin-left:2em;
}
.persona-selection{
    margin-top: 1em;
}
/* .input-score{
    background-color: lightsteelblue;
} */

.top-container{
    background-color: bisque;
    padding-top: 1em;
    padding-bottom: 2em;
}

.persona-descriptions{
    margin-top:0.8em;
    font-size:0.9em;
}

.scenario-one{
    margin-right:2em;
    margin-left:2em;
}

.scenario-output1{
    margin-left: 1em;

}


.scenario-container{
    padding-left:2em;
    padding-top:2em;
    padding-bottom: 2em;
    background-color:lightblue;
    display: flex;
    flex-direction: wrap;
    /* flex-wrap: wrap; */
    justify-content:flex-start;
    align-items: center;
    
}
.scenario-output3{
    padding-left:14em;
    padding-bottom:2em;
    background-color:lightblue;

}
/* .scenario-options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
} */

.scenario-two{
    padding-left:10em;
}



.selection-container {
    margin-top: 2em;
    margin-left:2em;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content:flex-start;
    align-items: center;
}
.output-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.input-score{
    margin-top: 1em;
    margin-left:2em;
}
.competency-list-container{
    margin-left:2em;
}

#Creativity, #Critical-thinking, #Communication, #Collaboration, #Mindfulness, #Curiousity, #Courage, #Resilience, #Ethics, #Leadership, #Metacognition, #Growth-Mindset {
    margin-right:1em;
}

.output-score{
    margin-top: 4em;
    margin-left:2em;
}

.output-container{
    margin-left:8em;

}

